body {
    font-family: Helvetica, sans-serif;
    background: #FFF;
  }
  header {
    background:#2c2b2b;
    height: 100px;
  }
  
  nav {
    width: 960px;
    margin: auto;
  }
  
  nav img {
    float: left;
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 90px;
  }
  
  nav li {
    float: left;
    margin-top: 40px;
    margin-right: 40px;
    color: #bbbbbb;
  }

  main {
    width: 960px;
    margin: 0 auto;
  }
  
  main div > div:first-child> {
    margin-top: 25px;
  }
  
  div img {
    margin-top: 25px;
  }
  
  div ul {
    display: inline-block;
    margin-right: 25px;
  }
  div ul li{
    display: inline-block;
    margin-right: 25px;
  }
  ul:last-child {
     margin: 0%;
  }

  section {
    margin-top: 25px;
    margin-bottom: 255px;
  }
  
  section img {
    float: left;
    margin-right: 25px;
  }

  
  section div {
    height: 300px;
    overflow: auto;
    margin-bottom: 20px;
  }
  
  section h3 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  
  section p {
    padding-bottom: 20px;
    overflow-y:scroll;
    font-size: 24px;
    height: 80px;
    margin-bottom: 15px;
  }
  
  
  section button {
    border: none;
    background: black;
    padding: 8px 30px;
    color: white;
    font-weight: 700;
    height: 40px;
  }
  section button:hover {
    background: gray;
    border: solid 1px black;
    color: black;
  }


  footer {
    clear: both;
    width: 100%;
    height: 70px;
    background: gray;
    bottom: 0;
  }